<h3>ProductForm</h3>

<EditForm Model="@Product" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-field">
        <label>პროდუქტის დასახელება </label>
        <label>ფასი</label>
        <label>ქვეყანა </label>
        <label>დაწყების თარიღი </label>
        <label>დასრულების თარიღი</label>
        <div>
            <InputText @bind-Value="@Product.Description"></InputText>
            <InputNumber @bind-Value="@Product.Price"></InputNumber>
            <InputText @bind-Value="@Product.Country"></InputText>
            <InputDate @bind-Value="@Product.StartDate"></InputDate>
            <InputDate @bind-Value="@Product.EndDate"></InputDate>
            <ValidationMessage For="@(() => Product.Description)"></ValidationMessage>


        </div>

    </div>
    <button type="submit" class="btn btn-success" style="color:white">@btnText</button>
</EditForm>

@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public string btnText { get; set; } = "Save Product";
    [Parameter] public EventCallback OnValidSubmit { get; set; }


}
