

<EditForm Model="@Product" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="form-field">
        <div class="product__list">
            <li><span>პროდუქტის დასახელება</span><InputText @bind-Value="@Product.Description"></InputText></li>
            <li><span>ფასი</span><InputNumber @bind-Value="@Product.Price"></InputNumber></li>
            <li><span>ქვეყანა</span><InputText @bind-Value="@Product.Country"></InputText></li>
            <li><span>დაწყების თარიღი</span><InputDate @bind-Value="@Product.StartDate"></InputDate></li>
            <li><span>დასრულების თარიღი</span><InputDate @bind-Value="@Product.EndDate"></InputDate></li>
            <ValidationMessage For="@(() => Product.Description)"></ValidationMessage>
        </div>

    </div>
    <button type="submit" class="btn btn-success" style="color:white">@btnText</button>
</EditForm>

@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public string btnText { get; set; } = "Save Product";
    [Parameter] public EventCallback OnValidSubmit { get; set; }


}
